@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.Sevcontainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Sevtitle {
    font-family: 'Roboto', sans-serif;
    color: #333; /* Darker text for better contrast */
    font-size: 2.5em; /* Larger font size */
    margin-bottom: 30px;
}
#Sevresult {
    width: 100%;
    max-width: 500px; /* Adjust based on preference */
    margin-bottom: 20px;
}
.Sevbuttons {
    display: flex; /* Make buttons sit next to each other */
}
.Sevbtn {
    margin: 5px;
    background-color: #ff69b4; /* Pink color */
    border: none;
    color: white;
}
.Sevbtn:hover {
    background-color: #ff85c1; /* Lighter pink on hover */
}