@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; 
    background-color: black; 
  }
  


/* .Sevcontainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Sevtitle {
    font-family: 'Roboto', sans-serif;
    color: #333; 
    margin-bottom: 30px;
}
#Sevresult {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}
.Sevbuttons {
    display: flex; 
}
.Sevbtn {
    margin: 5px;
    background-color: #ff69b4;
    border: none;
    color: white;
}
.Sevbtn:hover {
    background-color: #ff85c1; 
} */